@font-face {
  font-family: "NYT Franklin 600";
  src: url('fonts/nyt-franklin-600.ttf') format('truetype');
}

@font-face {
  font-family: "NYT Franklin 700";
  src: url('fonts/nyt-franklin-700.ttf') format('truetype');
}

@font-face {
  font-family: "NYT Karnak 400";
  src: url('fonts/nyt-karnak-400.ttf') format('truetype');
}

body {
  background-color: #81D8D0;
}

.intro {
  text-align: center;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#title {
  margin: 0;
  padding: 0;
  font-size: 36px;
  font-family: "NYT Karnak 400";
}

#subtitle {
  margin: 12px 0 12px;
  padding: 0;
  font-size: 18px;
  font-family: "NYT Franklin 700";
  font-weight: bolder;
}

.playContainers {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.playContainer {
  border-radius: 18px;
  border: 1px solid #000000;
  color: #000000;
  cursor: pointer;
  text-decoration: none;

  flex: 1 1 40%;
  padding: 8px;
}

.playImage {
  margin: 0;
  height: 65px;
  width: 65px;
}

.playTitle {
  margin: 4px 0;
  font-size: 14px;
  font-family: "NYT Franklin 600";
  text-decoration: none;
}

#wordle {
  background-color: #E3E3E1;
}
